@model DEV1_2024_Assignment.ViewModels.EditProductViewModel

@{
  ViewData["Title"] = "Edit product";
}

<!-- Main Content -->
<div class="container mt-4">
  <!-- Add Product Form -->
  <div class="card mb-4">
    <div class="card-header">Edit Product</div>
    <div class="card-body">
      <form asp-action="EditProduct" method="post">
        <div class="form-group d-none">
          <label asp-for="ProductToEdit.Id"></label>
          <input asp-for="ProductToEdit.Id" class="form-control" />
          <span asp-validation-for="ProductToEdit.Id" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="ProductToEdit.Name"></label>
          <input asp-for="ProductToEdit.Name" class="form-control" />
          <span asp-validation-for="ProductToEdit.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="ProductToEdit.Price"></label>
          <input asp-for="ProductToEdit.Price" class="form-control" />
          <span asp-validation-for="ProductToEdit.Price" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="ProductToEdit.Stock"></label>
          <input asp-for="ProductToEdit.Stock" class="form-control" />
          <span asp-validation-for="ProductToEdit.Stock" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="ProductToEdit.Details"></label>
          <input asp-for="ProductToEdit.Details" class="form-control" />
          <span asp-validation-for="ProductToEdit.Details" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="ProductToEdit.Image"></label>
          <input asp-for="ProductToEdit.Image" class="form-control" />
          <span asp-validation-for="ProductToEdit.Image" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-outline-secondary">Update Product</button>
      </form>
    </div>
  </div>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>