@model DEV1_2024_Assignment.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Product List";
}

<div class="container mt-4">
    <h1>All Products</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
